In [1]:
import numpy as np
import pandas as pd
from asl_data import AslDb


asl = AslDb() # initializes the database
asl.df.head() # displays the first five rows of the asl database, indexed by video and frame

             left-x  left-y  right-x  right-y  nose-x  nose-y  speaker
video frame
98    0         149     181      170      175     161      62  woman-1
      1         149     181      170      175     161      62  woman-1
      2         149     181      170      175     161      62  woman-1
      3         149     181      170      175     161      62  woman-1
      4         149     181      170      175     161      62  woman-1

In [3]:
asl.df['grnd-ry'] = asl.df['right-y'] - asl.df['nose-y']
asl.dhead()  # the new feature 'grnd-ry' is now in the frames dictionaryf.

AttributeError: 'AslDb' object has no attribute 'dhead'

In [4]:
asl.df['right-y']

video  frame
98     0        175
       1        175
       2        175
       3        175
       4        175
       5        175
       6        175
       7        175
       8        175
       9        175
       10       175
       11       173
       12       165
       13       160
       14       149
       15       133
       16       119
       17       109
       18       100
       19        94
       20        89
       21        89
       22        86
       23        83
       24        84
       25        83
       26        82
       27        79
       28        75
       29        75
               ...
125    27       103
       28       106
       29       108
       30       111
       31       112
       32       108
       33       104
       34       100
       35       103
       36       103
       37       106
       38       112
       39       116
       40       116
       41       116
       42       116
       43       116
       44       116
       45       116
       46       121
       47       122
       48       126
       49       132
       50       137
       51       147
       52       156
       53       165
       54       173
       55       173
       56       173
Name: right-y, dtype: int64